@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
footer{
    text-align: center;
    background-color:#0D1630 ;
}
footer a{
    text-decoration: underline;
    color:#F1F5F9 ;
    transition:0.3s ;
}
footer a:hover{
    color:#38BDF8 ;
}

@media (max-width: 1024px) {
    .rodape {
        padding: 20px;
    }

    .rodape p {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .rodape {
        padding: 15px 10px;
        text-align: center;
    }

    .rodape p {
        font-size: 13px;
    }

    .rodape a {
        font-size: 13px;
    }
}