@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
footer{
    text-align: center;
    background-color:#0D1630 ;
}
footer a{
    text-decoration: underline;
    color:#F1F5F9 ;
    transition:0.3s ;
}
footer a:hover{
    color:#38BDF8 ;
}